.slider-item {
    padding: 0px 16px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.next {
    position: absolute;
    display: none;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    position: absolute;
    display: none;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.products .btn{
    display: none;
}

